/* HEADER */

.class-header-container {
    width: 100%;
    background: #b6ab9a;
    padding: 15px 30px;
}

/* HEADER TRANSPARENTE SOLO EN HOME */

.class-home .class-header-container {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* HEADER TRANSPARENTE EN PROYECTOS */

.class-proyectos-page .class-header-container {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* HEADER TRANSPARENTE EN SOBRE NOSOTROS */

.class-sobre-nosotros-page .class-header-container {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

/* NAV */

.class-header-nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* IZQUIERDA */

.class-header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

.class-header-menu-icon {
    font-size: 18px;
}

/* CENTRO */

.class-header-logo {
    color: white;
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 500;
}

/* DERECHA */

.class-header-right {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
}

.class-header-cart-count {
    background: #a7ad95;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* OVERLAY OSCURO */

.class-menu-overlay {

    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.25);

    opacity: 0;
    pointer-events: none;

    transition: 0.3s;

    z-index: 999;
}

/* SIDEBAR */

.class-menu-sidebar {

    position: fixed;

    top: 0;
    left: -444px;

    width: 444px;
    height: 100vh;

    background: white;

    z-index: 1000;

    transition: 0.35s;
}

/* OPEN STATES */

.menu-open .class-menu-sidebar {
    left: 0;
}

.menu-open .class-menu-overlay {
    opacity: 1;
    pointer-events: auto;
}

/* BLOQUEAR SCROLL */

.menu-open {
    overflow: hidden;
}


/* HEADER DEL MENU */

.class-menu-top {

    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    border-bottom: 1px solid #D8D8D8;
}

/* MENU TITLE */

.class-menu-title {

    display: flex;
    gap: 10px;
    cursor: default;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 17px;
}

.class-menu-group{

    margin-bottom:63px;
}

/* CLOSE X */

.class-menu-close {

    position: relative;

    width: 19px;
    height: 19px;

    cursor: pointer;

}

.class-menu-close::before,
.class-menu-close::after {

    content: "";

    position: absolute;

    top: 50%;
    left: 0;

    width: 19px;
    height: 3px;

    background: black;

}

.class-menu-close::before {
    transform: rotate(45deg);
}

.class-menu-close::after {
    transform: rotate(-45deg);
}

/* CONTENT */

.class-menu-content {

    padding: 40px 40px;
}

/* TITULOS */

.class-menu-heading {

    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;

    color: #6D6D6D;

    width: 260px;

    margin-bottom: 15px;

    cursor: pointer;
}

/* LINKS */

.class-menu-link {

    display: block;
    cursor: pointer;

    padding-left: 22px;

    width: 259px;

    font-family: "Poppins";
    font-size: 16px;

    color: #141718;

    margin-bottom: 10px;
}

/* SUB LINKS */

.class-menu-sub {

    display: none;

    margin-top: 5px;

    padding-left: 40px;

}

.class-menu-sub a {

    display: block;

    font-family: "Poppins";
    font-size: 14px;

    color: #141718;

    margin-bottom: 8px;

    cursor: pointer;

}

.class-menu-link:hover,
.class-menu-dropdown:hover,
.class-menu-sub a:hover {

    color: #B8C1A8;

}

.class-menu-sub-link {

    display: block;

    padding-left: 15px;

    font-family: "Poppins";
    font-size: 14px;

    color: #141718;

    margin-bottom: 8px;
}

/* ARROW */

.class-menu-arrow {

    width: 6px;
    height: 6px;

    border-right: 2px solid #141718;
    border-bottom: 2px solid #141718;

    transform: rotate(45deg);

    margin-right: 5px;

}

.class-menu-dropdown {

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    padding-left: 22px;

    width: 259px;

    font-family: "Poppins";
    font-size: 16px;

    color: #141718;

    margin-bottom: 10px;

}

/* ACTIVE DROPDOWN */

.class-menu-dropdown.active {

    color: #B8C1A8;
    text-decoration: underline;
    cursor: pointer;

}

.class-menu-dropdown.active .class-menu-arrow {

    transform: rotate(-135deg);
    border-color: #B8C1A8;

}